body {
    background: whitesmoke;
    color: #272727;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

#barreOutil {
    width: 100%;
    height: 100px;
    background-color: rgb(210, 210, 210);
}

#cv {
    background: whitesmoke;
}

.selected {
    background: #4ea2c9;
    color: #f3f3f3;
}

button {
    min-width: 60px;
    margin: 5px;
    width: auto;
    padding: 5px;
    height: 50px;
    border: none;
}

#barreOutil button {
    margin: 0;
}

button:hover:not(.selected) {
    background-color: #fff0c1da;
    color: #272727;
}

.interface {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(100, 100, 100, 0.5);
}

.interface-content {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
}

.hidden {
    display: none;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 1em;
}

table th,
td,
tr {
    border: 1px solid black;
}

table th,
td {
    width: 3em;
    text-align: center;
    height: 1.5em;
}

.test {
    color: #272727;
}

.center {
    text-align: center;
}

.noPadding {
    padding: 0px;
}

.padding {
    padding-left: 10px;
}